/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
@import url("../../../../../css-4");
:root {
  --font-current-theme1: 'DM Sans', sans-serif;
  --font-current-theme2: 'Inter', sans-serif;
  --body-font-family:     var(--font-current-theme1);
  --heading-font-family:  var(--font-current-theme2);
  --body-font-size:     1.125rem;
  --body-font-weight:   400;
  --body-font-bold:     500;
  --text-color:         #66788a;
  --link-color:         #352F27;
  --link-hover-color:   #3d2c74;
  --headings-color:     #092a49;
  --h1-font-size:     3.5rem;
  --h1-font-size-mob: 2.5rem;
  --h2-font-size:     2.75rem;
  --h2-font-size-mob: 2.5rem;
  --h3-font-size:     2rem;
  --h4-font-size:     1.5rem;
  --h5-font-size:     1.25rem;
  --h6-font-size:     1rem;
  --headings-font-weight-h1: 800;
  --headings-font-weight-h2: 800;
  --headings-font-weight-h3: 800;
  --headings-font-weight-h4: 700;
  --headings-font-weight-h5: 700;
  --headings-font-weight-h6: 700;
  --section-title-color:                 var(--headings-color);
  --section-title-font-size:             var(--h2-font-size);
  --section-title-font-family:           var(--heading-font-family);
  --section-title-font-weight:           var(--headings-font-weight-h2);
  --section-title-subtitle-color:        #66788a;
  --section-title-subtitle-font-size:    var(--h6-font-size);
  --section-title-subtitle-font-family:  var(--body-font-family);
  --section-title-subtitle-font-weight:  500; }
